In [2]:
import matplotlib as plt
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv(r'/Users/alex/Desktop/ProjectFinalAnswers/data/owid-covid-data.csv')
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295836,ZWE,Africa,Zimbabwe,2023-03-12,264385.0,13.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295837,ZWE,Africa,Zimbabwe,2023-03-13,264391.0,6.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295838,ZWE,Africa,Zimbabwe,2023-03-14,264391.0,0.0,14.857,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295839,ZWE,Africa,Zimbabwe,2023-03-15,264391.0,0.0,10.857,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295840,ZWE,Africa,Zimbabwe,2023-03-16,264391.0,0.0,8.429,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [5]:
column_headers = list(df.columns.values)
print("The Column Header :", column_headers)

The Column Header : ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'population', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

In [7]:
df2 = pd.DataFrame([df.iso_code,df.location,df.total_cases_per_million,df.icu_patients_per_million,df.total_vaccinations_per_hundred]).transpose()
df2

,iso_code,location,total_cases_per_million,icu_patients_per_million,total_vaccinations_per_hundred
0,AFG,Afghanistan,NaN,NaN,NaN
1,AFG,Afghanistan,NaN,NaN,NaN
2,AFG,Afghanistan,NaN,NaN,NaN
3,AFG,Afghanistan,NaN,NaN,NaN
4,AFG,Afghanistan,NaN,NaN,NaN
...,...,...,...,...,...
295836,ZWE,Zimbabwe,16199.526,NaN,NaN
295837,ZWE,Zimbabwe,16199.894,NaN,NaN
295838,ZWE,Zimbabwe,16199.894,NaN,NaN
295839,ZWE,Zimbabwe,16199.894,NaN,NaN
295840,ZWE,Zimbabwe,16199.894,NaN,NaN

In [10]:
df2['total_vaccinations_per_million'] = df2.apply(lambda row: row.total_vaccinations_per_hundred*1000, axis =1)
df2

,iso_code,location,total_cases_per_million,icu_patients_per_million,total_vaccinations_per_hundred,total_vaccinations_per_million
0,AFG,Afghanistan,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,NaN,NaN,NaN,NaN
3,AFG,Afghanistan,NaN,NaN,NaN,NaN
4,AFG,Afghanistan,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
295836,ZWE,Zimbabwe,16199.526,NaN,NaN,NaN
295837,ZWE,Zimbabwe,16199.894,NaN,NaN,NaN
295838,ZWE,Zimbabwe,16199.894,NaN,NaN,NaN
295839,ZWE,Zimbabwe,16199.894,NaN,NaN,NaN
295840,ZWE,Zimbabwe,16199.894,NaN,NaN,NaN