In [2]:
import matplotlib as plt
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv(r'/Users/alex/Desktop/ProjectFinalAnswers/data/owid-covid-data.csv')
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-03,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-04,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295836,ZWE,Africa,Zimbabwe,2023-03-12,264385.0,13.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295837,ZWE,Africa,Zimbabwe,2023-03-13,264391.0,6.0,16.429,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295838,ZWE,Africa,Zimbabwe,2023-03-14,264391.0,0.0,14.857,5672.0,0.0,0.143,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295839,ZWE,Africa,Zimbabwe,2023-03-15,264391.0,0.0,10.857,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
295840,ZWE,Africa,Zimbabwe,2023-03-16,264391.0,0.0,8.429,5672.0,0.0,0.000,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [5]:
column_headers = list(df.columns.values)
print("The Column Header :", column_headers)

The Column Header : ['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths', 'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million', 'new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions', 'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests', 'total_tests_per_thousand', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_fully_vaccinated', 'total_boosters', 'new_vaccinations', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred', 'new_vaccinations_smoothed_per_million', 'new_people_vaccinated_smoothed', 'new_people_vaccinated_smoothed_per_hundred', 'stringency_index', 'population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index', 'population', 'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative', 'excess_mortality', 'excess_mortality_cumulative_per_million']

In [30]:
df2 = pd.DataFrame([df.iso_code,df.location,df.date,df.total_cases_per_million,df.icu_patients_per_million,df.total_vaccinations,df.population]).transpose()
df2

,iso_code,location,date,total_cases_per_million,icu_patients_per_million,total_vaccinations,population
0,AFG,Afghanistan,2020-01-03,NaN,NaN,NaN,41128772.0
1,AFG,Afghanistan,2020-01-04,NaN,NaN,NaN,41128772.0
2,AFG,Afghanistan,2020-01-05,NaN,NaN,NaN,41128772.0
3,AFG,Afghanistan,2020-01-06,NaN,NaN,NaN,41128772.0
4,AFG,Afghanistan,2020-01-07,NaN,NaN,NaN,41128772.0
...,...,...,...,...,...,...,...
295836,ZWE,Zimbabwe,2023-03-12,16199.526,NaN,NaN,16320539.0
295837,ZWE,Zimbabwe,2023-03-13,16199.894,NaN,NaN,16320539.0
295838,ZWE,Zimbabwe,2023-03-14,16199.894,NaN,NaN,16320539.0
295839,ZWE,Zimbabwe,2023-03-15,16199.894,NaN,NaN,16320539.0
295840,ZWE,Zimbabwe,2023-03-16,16199.894,NaN,NaN,16320539.0

In [38]:
df2['total_vaccinations_per_million'] = df2.apply(lambda row: (row.total_vaccinations/row.population)*1000000, axis =1)
df2

,iso_code,location,date,total_cases_per_million,icu_patients_per_million,total_vaccinations,population,total_vaccinations_per_million
0,AFG,Afghanistan,2020-01-03,NaN,NaN,NaN,41128772.0,NaN
1,AFG,Afghanistan,2020-01-04,NaN,NaN,NaN,41128772.0,NaN
2,AFG,Afghanistan,2020-01-05,NaN,NaN,NaN,41128772.0,NaN
3,AFG,Afghanistan,2020-01-06,NaN,NaN,NaN,41128772.0,NaN
4,AFG,Afghanistan,2020-01-07,NaN,NaN,NaN,41128772.0,NaN
...,...,...,...,...,...,...,...,...
295836,ZWE,Zimbabwe,2023-03-12,16199.526,NaN,NaN,16320539.0,NaN
295837,ZWE,Zimbabwe,2023-03-13,16199.894,NaN,NaN,16320539.0,NaN
295838,ZWE,Zimbabwe,2023-03-14,16199.894,NaN,NaN,16320539.0,NaN
295839,ZWE,Zimbabwe,2023-03-15,16199.894,NaN,NaN,16320539.0,NaN
295840,ZWE,Zimbabwe,2023-03-16,16199.894,NaN,NaN,16320539.0,NaN

In [39]:
df3 = df2.loc[df2['location']== 'United States']
df3

,iso_code,location,date,total_cases_per_million,icu_patients_per_million,total_vaccinations,population,total_vaccinations_per_million
278398,USA,United States,2020-01-03,NaN,NaN,NaN,338289856.0,NaN
278399,USA,United States,2020-01-04,NaN,NaN,NaN,338289856.0,NaN
278400,USA,United States,2020-01-05,NaN,NaN,NaN,338289856.0,NaN
278401,USA,United States,2020-01-06,NaN,NaN,NaN,338289856.0,NaN
278402,USA,United States,2020-01-07,NaN,NaN,NaN,338289856.0,NaN
...,...,...,...,...,...,...,...,...
279565,USA,United States,2023-03-15,302752.161,6.82,NaN,338289856.0,NaN
279566,USA,United States,2023-03-16,302752.161,6.548,NaN,338289856.0,NaN
279567,USA,United States,2023-03-17,NaN,6.243,NaN,338289856.0,NaN
279568,USA,United States,2023-03-18,NaN,6.107,NaN,338289856.0,NaN
279569,USA,United States,2023-03-19,NaN,6.119,NaN,338289856.0,NaN

In [40]:
df4 = df2.loc[df2['location']== 'Chile']
df4

,iso_code,location,date,total_cases_per_million,icu_patients_per_million,total_vaccinations,population,total_vaccinations_per_million
50293,CHL,Chile,2020-01-03,NaN,NaN,NaN,19603736.0,NaN
50294,CHL,Chile,2020-01-04,NaN,NaN,NaN,19603736.0,NaN
50295,CHL,Chile,2020-01-05,NaN,NaN,NaN,19603736.0,NaN
50296,CHL,Chile,2020-01-06,NaN,NaN,NaN,19603736.0,NaN
50297,CHL,Chile,2020-01-07,NaN,NaN,NaN,19603736.0,NaN
...,...,...,...,...,...,...,...,...
51461,CHL,Chile,2023-03-16,265722.411,4.03,NaN,19603736.0,NaN
51462,CHL,Chile,2023-03-17,NaN,3.877,NaN,19603736.0,NaN
51463,CHL,Chile,2023-03-18,NaN,4.285,NaN,19603736.0,NaN
51464,CHL,Chile,2023-03-19,NaN,4.285,NaN,19603736.0,NaN
51465,CHL,Chile,2023-03-20,NaN,4.285,NaN,19603736.0,NaN

In [41]:
df5 = df2.loc[df2['location']== 'South Korea']
df5

,iso_code,location,date,total_cases_per_million,icu_patients_per_million,total_vaccinations,population,total_vaccinations_per_million
246833,KOR,South Korea,2020-01-03,NaN,NaN,NaN,51815808.0,NaN
246834,KOR,South Korea,2020-01-04,NaN,NaN,NaN,51815808.0,NaN
246835,KOR,South Korea,2020-01-05,NaN,NaN,NaN,51815808.0,NaN
246836,KOR,South Korea,2020-01-06,NaN,NaN,NaN,51815808.0,NaN
246837,KOR,South Korea,2020-01-07,NaN,NaN,NaN,51815808.0,NaN
...,...,...,...,...,...,...,...,...
248001,KOR,South Korea,2023-03-16,591754.335,NaN,NaN,51815808.0,NaN
248002,KOR,South Korea,2023-03-17,NaN,NaN,NaN,51815808.0,NaN
248003,KOR,South Korea,2023-03-18,NaN,NaN,NaN,51815808.0,NaN
248004,KOR,South Korea,2023-03-19,NaN,NaN,NaN,51815808.0,NaN
248005,KOR,South Korea,2023-03-20,NaN,NaN,NaN,51815808.0,NaN

In [42]:
df6 = df2.loc[df2['location']== 'France']
df6

,iso_code,location,date,total_cases_per_million,icu_patients_per_million,total_vaccinations,population,total_vaccinations_per_million
88821,FRA,France,2020-01-03,NaN,NaN,NaN,67813000.0,NaN
88822,FRA,France,2020-01-04,NaN,NaN,NaN,67813000.0,NaN
88823,FRA,France,2020-01-05,NaN,NaN,NaN,67813000.0,NaN
88824,FRA,France,2020-01-06,NaN,NaN,NaN,67813000.0,NaN
88825,FRA,France,2020-01-07,NaN,NaN,NaN,67813000.0,NaN
...,...,...,...,...,...,...,...,...
89989,FRA,France,2023-03-16,597064.965,11.045,154362069.0,67813000.0,2.276290e+06
89990,FRA,France,2023-03-17,NaN,11.134,154365250.0,67813000.0,2.276337e+06
89991,FRA,France,2023-03-18,NaN,11.089,154366332.0,67813000.0,2.276353e+06
89992,FRA,France,2023-03-19,NaN,11.119,154366404.0,67813000.0,2.276354e+06
89993,FRA,France,2023-03-20,NaN,11.207,NaN,67813000.0,NaN

In [46]:
df7 = pd.concat([df6,df5,df4,df3])
df7

,iso_code,location,date,total_cases_per_million,icu_patients_per_million,total_vaccinations,population,total_vaccinations_per_million
88821,FRA,France,2020-01-03,NaN,NaN,NaN,67813000.0,NaN
88822,FRA,France,2020-01-04,NaN,NaN,NaN,67813000.0,NaN
88823,FRA,France,2020-01-05,NaN,NaN,NaN,67813000.0,NaN
88824,FRA,France,2020-01-06,NaN,NaN,NaN,67813000.0,NaN
88825,FRA,France,2020-01-07,NaN,NaN,NaN,67813000.0,NaN
...,...,...,...,...,...,...,...,...
279565,USA,United States,2023-03-15,302752.161,6.82,NaN,338289856.0,NaN
279566,USA,United States,2023-03-16,302752.161,6.548,NaN,338289856.0,NaN
279567,USA,United States,2023-03-17,NaN,6.243,NaN,338289856.0,NaN
279568,USA,United States,2023-03-18,NaN,6.107,NaN,338289856.0,NaN
279569,USA,United States,2023-03-19,NaN,6.119,NaN,338289856.0,NaN